.cs {
    background-color: white;
    display: grid;
    width: 97vw;
    margin-top: 10px;
}
.row {
    background-color: white;
    width: auto;
    display:flex;
    margin:auto;
}
.row .entry {
    border: 1px;
    background-color: white;
    border-color: black;
    border-style: solid;
    width: auto;
    text-align: center;
    font-size: large;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}
.row .entryleft {
    border: 1px;
    background-color: white;
    border-right: 0px;
    border-color: black;
    border-style: solid;
    width: auto;
    text-align: center;
    font-size: large;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}
.row .entryright {
    border: 1px;
    border-left: 0px;
    border-color: black;
    border-style: solid;
    width: auto;
    text-align: center;
    font-size: large;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}
.skills {
    border: 1px;
    border-color: black;
    border-style: solid;
    margin: auto;
    display: grid;
    min-width: 20vw;
    max-width: 100%;
    float: right;
    margin-top: 4px;
    word-break: break-all;
}
.skills .name {
    text-align: center;
    margin: auto;
    border-left: 1px;
    border-right: 1px;
    border-style: solid;
    border-color: black;
}
.skills .rank {
    text-align: center;
    margin: auto;
    border-right: 1px;
    border-color: black;
    border-style: solid;
}
.equipment {
    border: 1px;
    border-color: black;
    border-style: solid;
    margin: auto;
    text-align: center;
}
.job {
    margin: auto;
}
.attributes {
    margin: auto;
    position: relative;
    display: grid;
    min-width: none;
    max-width: 20vw;
    min-height: 50%;
    z-index: 0;
}
.attributes .attribute {
    font-size: auto;
    text-align: center;
    border: 1px;
    border-color: black;
    border-style: solid;
    margin: auto;
    word-break: break-all;
}
.attributes .value {
    text-align: center;
    margin: auto;
    max-width: 30px;
}
.education {
    border: 1px;
    border-color: black;
    border-style: solid;
}
.meow {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-areas: 
    'left center right';
}
.leftColumn {
    margin: none;
    grid-area: left;
}
.centerColumn {
    margin-left: auto;
    margin-top: 4px;
    grid-area: center;
}
.rightColumn {
    margin-right: 12px;
    grid-area: right;
}
#wrapper {
    display: flex; 
    width: 100%;
}
#wrapper > div {
    flex-grow: 1;
}
#skills {
    display: table;
    float: right;
}