<div class = "cs">
    <div class = "row" style="margin: auto;" id="wrapper">
        <div class="entryleft" id="name">
            <label for="name"><strong>Name: </strong></label><br>
            <div style="text-align: center; margin: auto;">Noah Gaston</div>
        </div>
        <div class="entryleft" id="age">
            <label for="age"><strong>Age: </strong></label>
            <div style="text-align: center; margin: auto;">25</div>
        </div>
        <div class="entry" id="race">
            <label for="race"><strong>Race: </strong></label>
            <div style="text-align: center; margin: auto;">White</div>
        </div>
        <div class="entryright" id="religion">
            <label for="religion"><strong>Religion: </strong></label>
            <div style="text-align: center; margin: auto;">Aetheism</div>
        </div>
        <div class="entryright" id="gender">
            <label for="gender"><strong>Gender: </strong></label>
            <div style="text-align: center; margin: auto;">Male</div>
        </div>
        <div class="entryright" id="home">
            <label for="home"><strong>Homeland: </strong></label>
            <div style="text-align: center; margin: auto;">Mount Juliet, Tennessee</div>
        </div>
    </div>
    <div class="row" style="margin: auto;" id="wrapper">
        <div class="entryleft" id="phone">
            <label for="phone"><strong>Phone: </strong></label>
            <div style="text-align: center; margin: auto;">615-752-7281</div>
        </div>
        <div class="entryleft" id="email">
            <label for="email"><strong>Email: </strong></label>
            <div style="text-align: center; margin: auto;">nrgman&#64;tds.net</div>
        </div>
        <div class="entry" id="Discord">
            <label for="address"><strong>Discord: </strong></label>
            <div style="text-align: center; margin: auto;">Noah #6356</div>
        </div>
        <div class="entryright" id="GitHub">
            <label for="github"><strong>Github: </strong></label>
            <div style="text-align: center; margin: auto;">haoknowah</div>
        </div>
    </div>
    <div>
        <div class="attributes" id="wrapper">

        </div>
        <table mat-table class="skills">
            
        </table>
        <div class="skills">
            <div class="row" id="wrapper" style="border-top: 2px;">
                <div class="entry" id="skills">
                    <label for="skills"><strong>Skills</strong></label>
                </div>
                <div class="entry"><strong>Years of Experience</strong></div>
            </div>
            <div class="row" style="margin: auto;" id="wrapper">
                <div class="entry" id="Java">
                    <label for="Java" class="name"><strong>Java</strong></label>
                    <div class="rank">3</div>
                </div>
            </div>
        </div>
        <div class="job">
            <div class="row">
                <label for="Programmer"><strong>Programmer</strong></label>
            </div>
        </div>
    </div>
</div>
